.bodypage {
  background-color: rgb(233, 233, 233);
 
}

#elisa {
 display: flex;
 flex-direction: column;
   height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url(fond.png);
    background-size: cover;
     background-repeat:no-repeat;
  

}

#flecheup {
    display: flex;
    position: absolute;  right: 20%; 
    padding-top:10vh;
  
    
    
}

#h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-weight: bold;
   
}




#firstname {
    font-size:100px;
    font-family: 'Satisfy', cursive;
    color:#ffffff;
	text-shadow: 5px 2px 0px #83dbad;
	color: #ffffff;
    font-size: 100px;
    
}

@media screen and (min-width: 601px) {
    #h1 {
      font-size: 100px;
    }
  }
  

  @media screen and (max-width: 600px) {
    #h1  {
      font-size: 60px;
    }
  }

  @media screen and (min-width: 601px) {
    #firstname {
      font-size: 100px;
    }
  }
 
  @media screen and (max-width: 600px) {
    #firstname  {
      font-size: 60px;
    }
  }
  
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
 
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.h2 {
    display:flex;
    justify-content: center;
    color:#83dbad;
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 50px;
}

.h3 {
    display:flex;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    color:#353a40; 
    padding-top: 50px;
    padding-bottom:20px;
}



.table {
    display:flex;
   justify-content: center;
   padding-left:50px;
   padding-right:50px;
   align-content: center;
   justify-content: center;

   
}

#imgapropos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgmail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#imgfleche {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    margin-bottom: -50px;
    
   
}


#imgdownarrow {
    display: flex;
    bottom: 10%;
    position: absolute;
}

#imglinkedin {
    opacity:0.7;
    transition-property: opacity;
    transition-duration: 0.3s;
}

#imglinkedin:hover {
    opacity:1.0;
}



#footertext {
    color:#ffffff;
    justify-content: center;
    align-items: center;
    background-color:#353a40 ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

.projetsrecentsimg {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 30px;
    padding: 10px;
}

.projetsrecentsimg:hover {
    opacity: .5;
}

/* PAGES DES PROJETS */

#projectstitle {
    
    display: flex;
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    background-image: url(fondprojets.png);
    background-size: cover;
     background-repeat:no-repeat;
    justify-content: center;
    padding-top:10vh;
    padding-bottom: 10vh;

}

@media screen and (min-width: 601px) {
  #projectstitle {
    font-size: 100px;
  }
}


@media screen and (max-width: 600px) {
  #projectstitle  {
    font-size: 60px;
  }
}




#projetencours {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10vh;
}

.carneliantext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.imgapropos {
    background-image: url(about.png);
  }
  
  @media (min-width: 50em) {
    .logo {
      background-image: url(aboutbis.png);
    }
  }

 .projectstext {
     justify-content: center;
     text-align: center;
 }






  .projectbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
 
  }


.projectsdescription {
 font-family: Arial, Helvetica, sans-serif;
 font-size:18px;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

#projectsdescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
}


#softwareimg {
  padding:10px;
}

.tableaux {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


#tableau2 {
  background-color: #ffffff;
  
  border-radius: 20px;
  overflow: hidden;
  margin: 40px;
  box-shadow: 4px 4px 6px rgb(175, 174, 174);
 
}

.h3table {

  font-family: 'Satisfy', cursive;
  color:#353a40; 
  font-size: 25px;
  
 
}

.softwareimg {
  margin: 10px;
  padding-bottom: 10px;
}


.imgprojects {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}



.drawing {
  padding-top: 20px;
  padding-bottom: 20px;
 
}

.drawing {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.drawing:hover{
  opacity: .5;
}


#imgabout {
  width: 100%;
}